$green: #03fca1;

body, html {
    overflow-x: hidden;
}

.--login_section {
    .--login_card {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.--navbar {
    background: $green;

    .--navbar_logo {
        text-shadow: 1px 1px #000000;
    }

    .--btn_logout {
        text-shadow: 1px 1px #000000;
    }
}

.--green_button {
    background: $green;
    text-shadow: 1px 1px #000000;
}

.--dashboard_section {
    .--modal_button {
        font-size: .8rem !important;
    }
}

.swal2-popup {
    font-size: .6rem !important;
    font-family: Georgia, serif;
}
